In [1]:
import os
import pandas as pd
from typing import *
import warnings
warnings.filterwarnings('ignore')

from run_evaluation import *

In [2]:
# GLOBAL settings for this run (v1)
token_limit = 4000
# Parsee.ai template ID, can be seen here (requires free log-in): https://app.parsee.ai/template/661bd24fb129ff2526f2af09
template_id = "661bd24fb129ff2526f2af09"

# RAG-text Dataset

For details about this dataset, check the [Readme.](../../README.md)

In [3]:
# The following models are being used (to re-run, replace 'n/a' with the respective API keys):
models = [
            anthropic_config("n/a", "claude-3-opus-20240229", token_limit),
            gpt_config("n/a", token_limit, "gpt-4-1106-preview"),
            replicate_config("n/a", "meta/meta-llama-3-70b-instruct", token_limit),
            replicate_config("n/a", "meta/meta-llama-3-8b-instruct", token_limit),
            together_config("n/a", "mistralai/Mixtral-8x22B-Instruct-v0.1", token_limit),
            together_config("n/a", "databricks/dbrx-instruct", token_limit),
        ]

In [4]:
df, all_dataset_names = make_df(template_id, "../data/v1/by_sub_dataset_with_answers/rag-text", models)
df[['model', 'total']+[f"{x}_total" for x in all_dataset_names]].sort_values('total', ascending=False)

,model,total,rag_text_50_rev23_meta_total,rag_text_50_rev23_thousands_no_hint_total,rag_text_50_rev23_thousands_hint_total,rag_text_50_rev23_millions_no_hint_total,rag_text_50_rev_meta_total,rag_text_50_rev22_millions_no_hint_total
0,claude-3-opus-20240229,0.888953,0.970,0.86,0.84,0.92,0.903716,0.84
1,gpt-4-1106-preview,0.741836,0.910,0.66,0.86,0.76,0.701014,0.56
2,meta/meta-llama-3-70b-instruct,0.699459,0.885,0.56,0.52,0.82,0.631757,0.78
4,mistralai/Mixtral-8x22B-Instruct-v0.1,0.540755,0.805,0.72,0.62,0.48,0.339527,0.28
5,databricks/dbrx-instruct,0.519144,0.585,0.46,0.60,0.60,0.489865,0.38
3,meta/meta-llama-3-8b-instruct,0.207500,0.365,0.24,0.32,0.24,NaN,0.08

# Selection-text Dataset

For details about this dataset, check the [Readme.](../../README.md)

In [5]:
df, all_dataset_names = make_df(template_id, "../data/v1/by_sub_dataset_with_answers/selection-text", models)
df[['model', 'total']+[f"{x}_total" for x in all_dataset_names]].sort_values('total', ascending=False)

,model,total,selection_text_50_rev22_millions_no_hint_total,selection_text_50_rev23_meta_total,selection_text_50_rev23_millions_no_hint_total,selection_text_50_rev23_thousands_hint_total,selection_text_50_rev23_thousands_no_hint_total,selection_text_50_rev_meta_total
0,claude-3-opus-20240229,0.900236,0.90,1.000,0.86,0.90,0.76,0.981419
1,gpt-4-1106-preview,0.852849,0.62,0.970,0.86,0.96,0.80,0.907095
2,meta/meta-llama-3-70b-instruct,0.761745,0.96,0.910,0.96,0.54,0.54,0.660473
4,mistralai/Mixtral-8x22B-Instruct-v0.1,0.685946,0.60,0.925,0.62,0.60,0.82,0.550676
3,databricks/dbrx-instruct,0.561227,0.44,0.655,0.62,0.58,0.52,0.552365

# Selection-images Dataset

For details about this dataset, check the [Readme.](../../README.md)

In [6]:
# We are using the following models:
models = [
            anthropic_config("n/a", "claude-3-opus-20240229", token_limit, True, 1),
            gpt_config("n/a", token_limit, "gpt-4-1106-vision-preview", True, 1),
        ]

In [7]:
df, all_dataset_names = make_df(template_id, "../data/v1/by_sub_dataset_with_answers/selection-image", models)
df[['model', 'total']+[f"{x}_total" for x in all_dataset_names]].sort_values('total', ascending=False)

,model,total,selection_image_50_rev23_thousands_no_hint_total,selection_image_50_rev_meta_total,selection_image_50_rev23_millions_no_hint_total,selection_image_50_rev23_thousands_hint_total,selection_image_50_rev22_millions_no_hint_total,selection_image_50_rev23_meta_total
1,gpt-4-1106-vision-preview,0.540968,0.52,0.435811,0.68,0.56,0.20,0.85
0,claude-3-opus-20240229,0.446926,0.42,0.741554,0.30,0.42,0.12,0.68